@font-face {
  font-family: 'axcon';
  src:  url('axcon/axcon.eot?nzjrr6');
  src:  url('axcon/axcon.eot?nzjrr6#iefix') format('embedded-opentype'),
        url('axcon/axcon.ttf?nzjrr6') format('truetype'),
        url('axcon/axcon.woff?nzjrr6') format('woff'),
        url('axcon/axcon.svg?nzjrr6#axcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'axcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ax-activity:before {
  content: "\e900";
}
.ax-airplay:before {
  content: "\e901";
}
.ax-alert-circle:before {
  content: "\e902";
}
.ax-alert-octagon:before {
  content: "\e903";
}
.ax-alert-triangle:before {
  content: "\e904";
}
.ax-align-center:before {
  content: "\e905";
}
.ax-align-justify:before {
  content: "\e906";
}
.ax-align-left:before {
  content: "\e907";
}
.ax-align-right:before {
  content: "\e908";
}
.ax-anchor:before {
  content: "\e909";
}
.ax-aperture:before {
  content: "\e90a";
}
.ax-archive:before {
  content: "\e90b";
}
.ax-arrow-down:before {
  content: "\e90c";
}
.ax-arrow-down-circle:before {
  content: "\e90d";
}
.ax-arrow-down-left:before {
  content: "\e90e";
}
.ax-arrow-down-right:before {
  content: "\e90f";
}
.ax-arrow-left:before {
  content: "\e910";
}
.ax-arrow-left-circle:before {
  content: "\e911";
}
.ax-arrow-right:before {
  content: "\e912";
}
.ax-arrow-right-circle:before {
  content: "\e913";
}
.ax-arrow-up:before {
  content: "\e914";
}
.ax-arrow-up-circle:before {
  content: "\e915";
}
.ax-arrow-up-left:before {
  content: "\e916";
}
.ax-arrow-up-right:before {
  content: "\e917";
}
.ax-at-sign:before {
  content: "\e918";
}
.ax-award:before {
  content: "\e919";
}
.ax-bar-chart:before {
  content: "\e91a";
}
.ax-bar-chart-2:before {
  content: "\e91b";
}
.ax-battery:before {
  content: "\e91c";
}
.ax-battery-charging:before {
  content: "\e91d";
}
.ax-bell:before {
  content: "\e91e";
}
.ax-bell-off:before {
  content: "\e91f";
}
.ax-bluetooth:before {
  content: "\e920";
}
.ax-bold:before {
  content: "\e921";
}
.ax-book:before {
  content: "\e922";
}
.ax-book-open:before {
  content: "\e923";
}
.ax-bookmark:before {
  content: "\e924";
}
.ax-box:before {
  content: "\e925";
}
.ax-briefcase:before {
  content: "\e926";
}
.ax-calendar:before {
  content: "\e927";
}
.ax-camera:before {
  content: "\e928";
}
.ax-camera-off:before {
  content: "\e929";
}
.ax-cast:before {
  content: "\e92a";
}
.ax-check:before {
  content: "\e92b";
}
.ax-check-circle:before {
  content: "\e92c";
}
.ax-check-square:before {
  content: "\e92d";
}
.ax-chevron-down:before {
  content: "\e92e";
}
.ax-chevron-left:before {
  content: "\e92f";
}
.ax-chevron-right:before {
  content: "\e930";
}
.ax-chevron-up:before {
  content: "\e931";
}
.ax-chevrons-down:before {
  content: "\e932";
}
.ax-chevrons-left:before {
  content: "\e933";
}
.ax-chevrons-right:before {
  content: "\e934";
}
.ax-chevrons-up:before {
  content: "\e935";
}
.ax-chrome:before {
  content: "\e936";
}
.ax-circle:before {
  content: "\e937";
}
.ax-clipboard:before {
  content: "\e938";
}
.ax-clock:before {
  content: "\e939";
}
.ax-cloud:before {
  content: "\e93a";
}
.ax-cloud-drizzle:before {
  content: "\e93b";
}
.ax-cloud-lightning:before {
  content: "\e93c";
}
.ax-cloud-off:before {
  content: "\e93d";
}
.ax-cloud-rain:before {
  content: "\e93e";
}
.ax-cloud-snow:before {
  content: "\e93f";
}
.ax-code:before {
  content: "\e940";
}
.ax-codepen:before {
  content: "\e941";
}
.ax-codesandbox:before {
  content: "\e942";
}
.ax-coffee:before {
  content: "\e943";
}
.ax-columns:before {
  content: "\e944";
}
.ax-command:before {
  content: "\e945";
}
.ax-compass:before {
  content: "\e946";
}
.ax-copy:before {
  content: "\e947";
}
.ax-corner-down-left:before {
  content: "\e948";
}
.ax-corner-down-right:before {
  content: "\e949";
}
.ax-corner-left-down:before {
  content: "\e94a";
}
.ax-corner-left-up:before {
  content: "\e94b";
}
.ax-corner-right-down:before {
  content: "\e94c";
}
.ax-corner-right-up:before {
  content: "\e94d";
}
.ax-corner-up-left:before {
  content: "\e94e";
}
.ax-corner-up-right:before {
  content: "\e94f";
}
.ax-cpu:before {
  content: "\e950";
}
.ax-credit-card:before {
  content: "\e951";
}
.ax-crop:before {
  content: "\e952";
}
.ax-crosshair:before {
  content: "\e953";
}
.ax-database:before {
  content: "\e954";
}
.ax-delete:before {
  content: "\e955";
}
.ax-disc:before {
  content: "\e956";
}
.ax-dollar-sign:before {
  content: "\e957";
}
.ax-download:before {
  content: "\e958";
}
.ax-download-cloud:before {
  content: "\e959";
}
.ax-droplet:before {
  content: "\e95a";
}
.ax-edit:before {
  content: "\e95b";
}
.ax-edit-2:before {
  content: "\e95c";
}
.ax-edit-3:before {
  content: "\e95d";
}
.ax-external-link:before {
  content: "\e95e";
}
.ax-eye:before {
  content: "\e95f";
}
.ax-eye-off:before {
  content: "\e960";
}
.ax-facebook:before {
  content: "\e961";
}
.ax-fast-forward:before {
  content: "\e962";
}
.ax-feather:before {
  content: "\e963";
}
.ax-figma:before {
  content: "\e964";
}
.ax-file:before {
  content: "\e965";
}
.ax-file-minus:before {
  content: "\e966";
}
.ax-file-plus:before {
  content: "\e967";
}
.ax-file-text:before {
  content: "\e968";
}
.ax-film:before {
  content: "\e969";
}
.ax-filter:before {
  content: "\e96a";
}
.ax-flag:before {
  content: "\e96b";
}
.ax-folder:before {
  content: "\e96c";
}
.ax-folder-minus:before {
  content: "\e96d";
}
.ax-folder-plus:before {
  content: "\e96e";
}
.ax-framer:before {
  content: "\e96f";
}
.ax-frown:before {
  content: "\e970";
}
.ax-gift:before {
  content: "\e971";
}
.ax-git-branch:before {
  content: "\e972";
}
.ax-git-commit:before {
  content: "\e973";
}
.ax-git-merge:before {
  content: "\e974";
}
.ax-git-pull-request:before {
  content: "\e975";
}
.ax-github:before {
  content: "\e976";
}
.ax-gitlab:before {
  content: "\e977";
}
.ax-globe:before {
  content: "\e978";
}
.ax-grid:before {
  content: "\e979";
}
.ax-hard-drive:before {
  content: "\e97a";
}
.ax-hash:before {
  content: "\e97b";
}
.ax-headphones:before {
  content: "\e97c";
}
.ax-heart:before {
  content: "\e97d";
}
.ax-help-circle:before {
  content: "\e97e";
}
.ax-hexagon:before {
  content: "\e97f";
}
.ax-home:before {
  content: "\e980";
}
.ax-image:before {
  content: "\e981";
}
.ax-inbox:before {
  content: "\e982";
}
.ax-info:before {
  content: "\e983";
}
.ax-instagram:before {
  content: "\e984";
}
.ax-italic:before {
  content: "\e985";
}
.ax-key:before {
  content: "\e986";
}
.ax-layers:before {
  content: "\e987";
}
.ax-layout:before {
  content: "\e988";
}
.ax-life-buoy:before {
  content: "\e989";
}
.ax-link:before {
  content: "\e98a";
}
.ax-link-2:before {
  content: "\e98b";
}
.ax-linkedin:before {
  content: "\e98c";
}
.ax-list:before {
  content: "\e98d";
}
.ax-loader:before {
  content: "\e98e";
}
.ax-lock:before {
  content: "\e98f";
}
.ax-log-in:before {
  content: "\e990";
}
.ax-log-out:before {
  content: "\e991";
}
.ax-mail:before {
  content: "\e992";
}
.ax-map:before {
  content: "\e993";
}
.ax-map-pin:before {
  content: "\e994";
}
.ax-maximize:before {
  content: "\e995";
}
.ax-maximize-2:before {
  content: "\e996";
}
.ax-meh:before {
  content: "\e997";
}
.ax-menu:before {
  content: "\e998";
}
.ax-message-circle:before {
  content: "\e999";
}
.ax-message-square:before {
  content: "\e99a";
}
.ax-mic:before {
  content: "\e99b";
}
.ax-mic-off:before {
  content: "\e99c";
}
.ax-minimize:before {
  content: "\e99d";
}
.ax-minimize-2:before {
  content: "\e99e";
}
.ax-minus:before {
  content: "\e99f";
}
.ax-minus-circle:before {
  content: "\e9a0";
}
.ax-minus-square:before {
  content: "\e9a1";
}
.ax-monitor:before {
  content: "\e9a2";
}
.ax-moon:before {
  content: "\e9a3";
}
.ax-more-horizontal:before {
  content: "\e9a4";
}
.ax-more-vertical:before {
  content: "\e9a5";
}
.ax-mouse-pointer:before {
  content: "\e9a6";
}
.ax-move:before {
  content: "\e9a7";
}
.ax-music:before {
  content: "\e9a8";
}
.ax-navigation:before {
  content: "\e9a9";
}
.ax-navigation-2:before {
  content: "\e9aa";
}
.ax-octagon:before {
  content: "\e9ab";
}
.ax-package:before {
  content: "\e9ac";
}
.ax-paperclip:before {
  content: "\e9ad";
}
.ax-pause:before {
  content: "\e9ae";
}
.ax-pause-circle:before {
  content: "\e9af";
}
.ax-pen-tool:before {
  content: "\e9b0";
}
.ax-percent:before {
  content: "\e9b1";
}
.ax-phone:before {
  content: "\e9b2";
}
.ax-phone-call:before {
  content: "\e9b3";
}
.ax-phone-forwarded:before {
  content: "\e9b4";
}
.ax-phone-incoming:before {
  content: "\e9b5";
}
.ax-phone-missed:before {
  content: "\e9b6";
}
.ax-phone-off:before {
  content: "\e9b7";
}
.ax-phone-outgoing:before {
  content: "\e9b8";
}
.ax-pie-chart:before {
  content: "\e9b9";
}
.ax-play:before {
  content: "\e9ba";
}
.ax-play-circle:before {
  content: "\e9bb";
}
.ax-plus:before {
  content: "\e9bc";
}
.ax-plus-circle:before {
  content: "\e9bd";
}
.ax-plus-square:before {
  content: "\e9be";
}
.ax-pocket:before {
  content: "\e9bf";
}
.ax-power:before {
  content: "\1f300";
}
.ax-printer:before {
  content: "\1f301";
}
.ax-radio:before {
  content: "\1f302";
}
.ax-refresh-ccw:before {
  content: "\1f303";
}
.ax-refresh-cw:before {
  content: "\1f304";
}
.ax-repeat:before {
  content: "\1f305";
}
.ax-rewind:before {
  content: "\1f306";
}
.ax-rotate-ccw:before {
  content: "\1f307";
}
.ax-rotate-cw:before {
  content: "\1f308";
}
.ax-rss:before {
  content: "\1f309";
}
.ax-save:before {
  content: "\1f30a";
}
.ax-scissors:before {
  content: "\1f30b";
}
.ax-search:before {
  content: "\1f30c";
}
.ax-send:before {
  content: "\1f30d";
}
.ax-server:before {
  content: "\1f30e";
}
.ax-settings:before {
  content: "\1f30f";
}
.ax-share:before {
  content: "\1f310";
}
.ax-share-2:before {
  content: "\1f311";
}
.ax-shield:before {
  content: "\1f312";
}
.ax-shield-off:before {
  content: "\1f313";
}
.ax-shopping-bag:before {
  content: "\1f314";
}
.ax-shopping-cart:before {
  content: "\1f315";
}
.ax-shuffle:before {
  content: "\1f316";
}
.ax-sidebar:before {
  content: "\1f317";
}
.ax-skip-back:before {
  content: "\1f318";
}
.ax-skip-forward:before {
  content: "\1f319";
}
.ax-slack:before {
  content: "\1f31a";
}
.ax-slash:before {
  content: "\1f31b";
}
.ax-sliders:before {
  content: "\1f31c";
}
.ax-smartphone:before {
  content: "\1f31d";
}
.ax-smile:before {
  content: "\1f31e";
}
.ax-speaker:before {
  content: "\1f31f";
}
.ax-square:before {
  content: "\1f320";
}
.ax-star:before {
  content: "\1f321";
}
.ax-stop-circle:before {
  content: "\1f322";
}
.ax-sun:before {
  content: "\1f323";
}
.ax-sunrise:before {
  content: "\1f324";
}
.ax-sunset:before {
  content: "\1f325";
}
.ax-tablet:before {
  content: "\1f326";
}
.ax-tag:before {
  content: "\1f327";
}
.ax-target:before {
  content: "\1f328";
}
.ax-terminal:before {
  content: "\1f329";
}
.ax-thermometer:before {
  content: "\1f32a";
}
.ax-thumbs-down:before {
  content: "\1f32b";
}
.ax-thumbs-up:before {
  content: "\1f32c";
}
.ax-toggle-left:before {
  content: "\1f32d";
}
.ax-toggle-right:before {
  content: "\1f32e";
}
.ax-tool:before {
  content: "\1f32f";
}
.ax-trash:before {
  content: "\1f330";
}
.ax-trash-2:before {
  content: "\1f331";
}
.ax-trello:before {
  content: "\1f332";
}
.ax-trending-down:before {
  content: "\1f333";
}
.ax-trending-up:before {
  content: "\1f334";
}
.ax-triangle:before {
  content: "\1f335";
}
.ax-truck:before {
  content: "\1f336";
}
.ax-tv:before {
  content: "\1f337";
}
.ax-twitch:before {
  content: "\1f338";
}
.ax-twitter:before {
  content: "\1f339";
}
.ax-type:before {
  content: "\1f33a";
}
.ax-umbrella:before {
  content: "\1f33b";
}
.ax-underline:before {
  content: "\1f33c";
}
.ax-unlock:before {
  content: "\1f33d";
}
.ax-upload:before {
  content: "\1f33e";
}
.ax-upload-cloud:before {
  content: "\1f33f";
}
.ax-user:before {
  content: "\1f340";
}
.ax-user-check:before {
  content: "\1f341";
}
.ax-user-minus:before {
  content: "\1f342";
}
.ax-user-plus:before {
  content: "\1f343";
}
.ax-user-x:before {
  content: "\1f344";
}
.ax-users:before {
  content: "\1f345";
}
.ax-video:before {
  content: "\1f346";
}
.ax-video-off:before {
  content: "\1f347";
}
.ax-voicemail:before {
  content: "\1f348";
}
.ax-volume:before {
  content: "\1f349";
}
.ax-volume-1:before {
  content: "\1f34a";
}
.ax-volume-2:before {
  content: "\1f34b";
}
.ax-volume-x:before {
  content: "\1f34c";
}
.ax-watch:before {
  content: "\1f34d";
}
.ax-wifi:before {
  content: "\1f34e";
}
.ax-wifi-off:before {
  content: "\1f34f";
}
.ax-wind:before {
  content: "\1f350";
}
.ax-x:before {
  content: "\1f351";
}
.ax-x-circle:before {
  content: "\1f352";
}
.ax-x-octagon:before {
  content: "\1f353";
}
.ax-x-square:before {
  content: "\1f354";
}
.ax-youtube:before {
  content: "\1f355";
}
.ax-zap:before {
  content: "\1f356";
}
.ax-zap-off:before {
  content: "\1f357";
}
.ax-zoom-in:before {
  content: "\1f358";
}
.ax-zoom-out:before {
  content: "\1f359";
}